<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shhy.dao.adminMapper">
    <insert id="insert" parameterType="com.shhy.domain.Administrator">
       insert into administrator (id,password) values (#{id},#{password})
    </insert>
    <delete id="delete" parameterType="int">
        delete from administrator where id=#{id}
    </delete>
    <update id="update" parameterType="com.shhy.domain.Administrator">
        update administrator set id=#{id},password=#{password} where id=#{id}
    </update>
    <select id="findOne" parameterType="int" resultType="com.shhy.domain.Administrator">
        select * from administrator where id=#{id}
    </select>
    <select id="findAll" resultType="com.shhy.domain.Administrator">
        select * from administrator
    </select>
    <select id="findoneByadmin" resultType="com.shhy.domain.Administrator" parameterType="com.shhy.domain.Administrator">
        select * from administrator where id=#{id} and password=#{password}
    </select>

</mapper>