<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shhy.dao.ScoreMapper">
    <insert id="insert" parameterType="com.shhy.domain.Score">
       insert into score (sid,score,cid) values (#{sid},#{score},#{cid})
    </insert>

    <delete id="delete" parameterType="com.shhy.domain.Score">
        delete from score
        <where>
            <if test="score.cid!=null and score.sid==null">
                cid=#{cid}
            </if>
            <if test="score.cid==null and score.sid!=null">
                sid=#{sid}
            </if>
            <if test="score.cid!=null and score.sid!=null">
                cid=#{cid} and sid=#{sid}
            </if>
        </where>
    </delete>


    <update id="update" parameterType="com.shhy.domain.Score">
        update score set score=#{score} where sid=#{sid} and cid=#{cid}
    </update>

<!--    <select id="studentFindOneScore"  resultType="com.shhy.domain.ScoreSC">-->
<!--        select course.cid,course.cname,teacher.tname,score.score from course,student,teacher,score-->
<!--        where student.sid=score.sid and score.cid=course.cid and course.tid=teacher.tid and course.cname=#{cname} and student.sid=#{sid}-->
<!--    </select>-->

    <select id="findAll" parameterType="com.shhy.domain.ScoreSCT" resultType="com.shhy.domain.ScoreSCT">
        select course.cid,course.cname,teacher.tname,score.score from course,student,teacher,score
        <where>
            <if test="sid!=null and sid!=''">
                student.sid=#{sid}
            </if>
            <if test="cname!=null and cname!=''">
                and cname like concat('%','${cname}','%')
            </if>
            <if test="grade!=null and grade!=''">
                and grade=#{grade}
            </if>
            <if test="tname!=null and tname!=''">
                and tname=#{tname}
            </if>
            <if test="sdepartment!=null and sdepartment!=''">
                and sdepartment like concat('%','${sdepartment}','%')
            </if>
            <if test="true">
               and student.sid=score.sid and score.cid=course.cid and course.tid=teacher.tid
            </if>

        </where>

    </select>

<!--    <select id="teacherFindOneScore"  resultType="com.shhy.domain.ScoreTC">-->
<!--       select student.sid,student.sname,student.grade, course.cid,course.cname,score.score from course,student,teacher,score-->
<!--       where student.sid=score.sid and score.cid=course.cid and course.tid=teacher.tid course.cname=#{cname} and teacher.tid=#{tid}-->
<!--    </select>-->


    <!--    <select id="findOneByUser" resultType="com.shhy.domain.User" parameterType="com.shhy.domain.User">-->
    <!--        select * from USER where username=#{username} and password=#{password}-->
    <!--    </select>-->
    <!--    <select id="findOneByUsername" resultType="com.shhy.domain.User" parameterType="String">-->
    <!--        select * from USER where username=#{username}-->
    <!--    </select>-->
</mapper>