<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shhy.dao.ScoreMapper">
    <insert id="insert" parameterType="com.shhy.domain.Score">
       insert into score (sid,score,cid) values (#{sid},#{score},#{cid})
    </insert>

    <delete id="delete" parameterType="int">
        delete from score
        <where>
            <if test="cid!=null and sid==null">
                cid=#{cid}
            </if>
            <if test="cid==null and sid!=null">
                sid=#{sid}
            </if>
            <if test="cid!=null and sid!=null">
                cid=#{cid} and sid=#{sid}
            </if>
        </where>
    </delete>


    <update id="update" parameterType="com.shhy.domain.Score">
        update score set score=#{score} where sid=#{sid} and cid=#{cid}
    </update>


    <select id="findAll" parameterType="com.shhy.domain.ScoreSCT" resultType="com.shhy.domain.ScoreSCT">
        select course.cid,course.cname,teacher.tname,score.score,student.grade, student.sdepartment,student.sid,student.sname from course,student,teacher,score
        <where>
            <if test="sid!=null and sid!=''">
                student.sid=#{sid}
            </if>
            <if test="cname!=null and cname!=''">
                and cname like concat('%','${cname}','%')
            </if>
            <if test="grade!=null and grade!=''">
                and grade like concat('%','${grade}','%')
            </if>
            <if test="tname!=null and tname!=''">
                and tname like concat('%','${tname}','%')
            </if>
            <if test="sdepartment!=null and sdepartment!=''">
                and sdepartment like concat('%','${sdepartment}','%')
            </if>
            <if test="cid!=null and cid!=''">
                and course.cid=#{cid}
            </if>
            <if test="true">
               and student.sid=score.sid and score.cid=course.cid and course.tid=teacher.tid
            </if>

        </where>

    </select>

</mapper>